<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%-# This will render the Flash message that has been moved to the _messages.html.erb DRY -%>
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
  <div class="container">
   <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%-# this is to show debuging messages on screen -%>
  <%= debug(params) if Rails.env.development? %>


</body>
</html>
